body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#f4f4f4;
}

/* Header */
header{
  background:#35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:#809fff 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin: 0;
  margin-left: 18px;
  margin-bottom: 1px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #809fff;
}

header a:hover{
  color: #cccccc;
}

.mainc {
  margin-left: 28%;
}

.maina {
  margin: 25px;
  float: left;
}

.mainb {
  margin: 25px;
}

.likeinter img {
  width: 100%;
  height: 200px;
  /*border: grey 4px solid;*/
}

.likeinter {
  margin-top: 40px;
  width: 20%;
  height: 200px;
  margin-left: 10%;
  float: left;
}

.likeinter p {
  margin-left: 70px;
  margin-top: -19px;
}
